<div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Historique</h5>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div  class="d-flex w-100 justify-content-between" *ngFor="let vot of votes | async">
      <div class="row">
        <div class="col-sm-9">
          <img src={{vot.collegue.imageURL}}>
        </div>
        <div class="col-sm-3">
          <h5 class="mb-1">{{vot.collegue.pseudo}}</h5>
          <p class="mb-1">est {{vot.avis}} avec un score de {{vot.collegue.score}}</p>
        </div>
      </div>
    </div>
  </a>
</div>