<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Pseudo</th>
        <th>Score</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let col of collegues | slice:0:limite">
        <td>
          <img [src]="col.imageURL" width="100px"> </td>
        <td>{{col.pseudo | uppercase}}</td>
        <td>{{col.score}}</td>
        <td>
          <app-bouton (opinion)="setOpinion($event, col)" [collegue]="col"></app-bouton>
        </td>
      </tr>
    </tbody>
  </table>
</div>