<!DOCTYPE html>
<html lang="en">

<head>
  <title>Top Collegue</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Top collegue</h2>
      <div class="form-group">
        <label for="email">Pseudo</label>
        <input type="text" id="pseudo" #pseudo class="form-control">
      </div>
      <div class="form-group">
        <label for="pwd">URL image</label>
        <input type="text" id="image" #imageUrl class="form-control">
      </div>
      <button class="btn btn-primary" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
    </div>
    <!--Nav Bar-->
    <ul class="nav nav-tabs">
      <li crole="presentation" class="active">
        <a class="nav-link" routerLink="/classique" routerLinkActive="active-link">Classique</a>
      </li>
      <li role="presentation">
        <a class="nav-link" routerLink="/tableau" routerLinkActive="active-link">Tableau</a>
      </li>
      <li role="presentation">
        <a class="nav-link" routerLink="/carrousel" routerLinkActive="active-link">Carousel</a>
      </li>
    </ul>
    <!--Champs Limite-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Limite</span>
      <input #limite type="text" class="form-control" id="size" aria-describedby="basic-addon3" (keyup)="setLimite(limite.value)">
    </div>
    <!--Champs Filtre-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Filtre par pseudo</span>
      <input #filtre type="text" class="form-control" id="size" aria-describedby="basic-addon3" (keyup)="setFiltre(filtre.value)">
    </div>
    <!--Composant Collegue-->
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>