<!DOCTYPE html>
<html lang="en">

<head>
  <title>Top collegue</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
    <h2>Top collegue</h2>
      <div class="form-group">
        <label for="email">Pseudo</label>
        <input type="text" id="pseudo" #pseudo class="form-control">
      </div>
      <div class="form-group">
        <label for="pwd">URL image</label>
        <input type="text" id="image" #imageUrl class="form-control">
      </div>
      <button class="btn btn-primary" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
    </div>
  <div class="card-deck">
    <div *ngFor="let col of collegues">
      <app-un-collegue [collegue]="col"></app-un-collegue>
    </div>
  </div>
</div>